 .submit-button {
    background-color: $orange;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    width: 200px;
  }

  .submit-button:hover {
    color: $orange;
    text-decoration: none;
    background-color: white;
  }

  a {
    color: white;
  }

  a:hover {
    color: $orange;
  }

#pop-up-button {
  background-color: $orange;
  color: white;
  padding: 12px;
  border-radius: 5px;
}

#pop-up-font {
  font-size: 18px;
}

@media (min-width: 1200px) {
  #container-width {
    width: 100vw !important;
  }
}
