<div class="banner">
  <div>
    <h1>Wheelie Dealers</h1>
  </div>
  <div>
    <p>London's most trusted marketplace for the best deals on two wheels!</p>
  </div>
<button type="button" class="btn btn-primary">Sell your bike now!</button>
</div>

