<head>
  <title><% @title %> </title>
</head>
<div class="background_img" >
    <h1 class="main-header">Wheelie Dealers</h1>
  <div class="main">
    <%= render "shared/bike_form" %>
    <!-- <button type="button" class="btn active sell_bike">Sell your bike!</button> -->


  </div>
</div>


