<div class="background_img" style="background-image: url( <%= image_path "background.jpg" %> );">
  <h1 class="main-header">Wheelie Dealers</h1>
  <div class="main">
    <%= render "shared/bike_form" %>
  </div>
</div>
<div class="latest_card">
  <!-- <h1 class="listing_header">Featured bikes</h1> -->
  <%= render "shared/carousel_cards" %>
</div>


