// .mapboxgl-popup {
//   max-width: 200px;
// }

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: 'Quicksand', sans-serif;
// }

#map {
  // display: flex;
  height: 100%;
  width: 50%;
  // width: 30%;
  // display: inline-block;
}

.outer_container {
  height: 100vh;
}

.left_hand {
  width: 50%;
}
