.card_design {
  background: #F4F4F4;
  box-shadow: 0 0 0px rgba(0,0,0,0.3);
  margin: 50px;
}


.card_avatar {
    // position: absolute;
    // right: 16px;
    // top: -20px;
    width: 40px;
}

.bike_details {
  display: flex;
}

.bike_info {
  float: left;
}
.price_avatar {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


