.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
}

.card-style {
  // text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  // border-radius: 20px;
  // margin:30px;
}

 .submit-button {
    background-color: $orange;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    width: 200px;
  }

  .submit-button:hover {
    color: $orange;
    text-decoration: none;
    background-color: white;
  }

  .link_color {
    background-color: $orange;
  }
